@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">
        Welcome To eMieter Management System
    </h1>
</div>
@*<a href="/Home/ChangeLanguage?lang=en">English</a>
<a href="/Home/ChangeLanguage?lang=de">Germen</a>


<h2>Test @Resource.Register</h2>*@