@model tblUser

    <div class="row">
        <div class="col-sm-12">
            <label>@Resource.Email: </label> <span>@Model.Email</span>
        </div>
        <div class="col-sm-12">
            <label>@Resource.Password: </label> <span>@Model.Password</span>
        </div>
        <div class="clearfix"></div>
    </div>